@import url('https://rsms.me/inter/inter.css');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/*
  VARIABLES
*/
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Inter', sans-serif;

$clr-blue-darker: #293264;
$clr-blue-lighter: #d6dbf5;
$clr-blue-primary: #4d5b9e;
$clr-green: #94d7a2;
$clr-red: #f8bcbc;
$clr-white-darker: #dbdef0;
$clr-white-lighter: #ffffff;
$clr-white-primary: #f5f7fb;
$clr-black: #1c1c1c;

html {
  display: grid;
  font-family: $font-primary;
  place-items: center;
}

body {
  background: url(/src/images/blob-top.svg) top -6em right -6em no-repeat,
    url(/src/images/blob-bottom.svg) bottom -6em left -6em no-repeat;
  background-color: $clr-white-primary;
  color: $clr-blue-darker;
  font-size: 20px;
  padding: 2em 0;
  width: min(95vw, 800px);
}

hr {
  background: $clr-white-darker;
  border: 0;
  height: 2px;
  margin-top: 1.5em;
}

/*
  WELCOME/INTRO SCREEN
*/
.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &--title {
    font-weight: 700;
  }

  &--description {
    font-family: $font-secondary;
    margin-top: 0.5em;
    text-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.25);
  }

  &--button {
    background-color: $clr-blue-primary;
    border-radius: 0.875em;
    border: none;
    color: $clr-white-primary;
    cursor: pointer;
    font-family: $font-secondary;
    font-weight: 500;
    margin-top: 2.5em;
    padding: 1em 3em;
  }
}

/*
  QUESTIONS
*/
.question-card {
  margin-bottom: 1.5em;

  &--question {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &--answers {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    margin-top: 0.75em;
    word-wrap: break-word;

    &--answer {
      background-color: $clr-white-lighter;
      border-radius: 0.875em;
      border: solid 1px $clr-blue-primary;
      color: $clr-blue-darker;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      min-width: 100px;
      padding: 0.25em 0.5em 0.25em;
    }
  }
}

/*
SUMMARY SECTION
*/
.summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.75em;

  &--text {
    color: $clr-blue-darker;
    font-weight: 700;
  }

  &--button {
    background-color: $clr-blue-primary;
    border-radius: 0.875em;
    border: none;
    color: $clr-white-primary;
    cursor: pointer;
    font-weight: 500;
    padding: 1em 3em;
  }
}

/*
MEDIA QUERIES
*/
@media (min-width: 640px) {
  .question-card {
    &--answers {
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin-top: 0.75em;
      word-wrap: break-word;
    }
  }
}
